<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Barra de progreso</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="progreso1" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso1 + '%'"></div>
                </div>

                <br>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="progreso2" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso2 + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-incrementador nombre="Progress azúl" [progreso]="progreso1" (actualizaValor)="progreso1 = $event"></app-incrementador>
                <!-- primero a la variable "nombre" en el hijo (o sea, en el incrementador) le envío el valor "Progress azúl" que es un string estático. Segundo: la variable "progreso" que está en el hijo recibe como valor el valor de la variable "proceso1" que está en el
                padre (o sea, en el ProgressComponent); es decir, el hijo recibe valor desde el padre, por eso en el hijo se declara un "@Input" . Y ya por último el evento "actualizaValor" que está declarado como "@Output" en el hijo envía su resultado (que es un evento) al padre y dicho valor se le asigna a la variable "progreso1" -->

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-incrementador nombre="Progress verde" [progreso]="progreso2" (actualizaValor)="progreso2 = $event"></app-incrementador>
                <!-- primero a la variable "nombre" en el hijo (o sea, en el IncrementadorComponent) le envío el valor "Progress verde" que es un string estático. Segundo: la variable "progreso" que está en el hijo recibe como valor el valor de la variable "proceso2" que está en el
                padre (o sea, en el ProgressComponent); es decir, el hijo recibe valor desde el padre, por eso en el hijo se declara un "@Input" . Y ya por último el evento "actualizaValor" que está declarado como "@Output" en el hijo envía su resultado (que es un evento) al padre y dicho valor se le asigna a la variable "progreso2" -->

            </div>
        </div>
    </div>
</div>